{% extends 'base.html' %}

{% block title %}Analyze an image{% endblock %}

{% block stylesheet %}
<style>
    * {
    box-sizing: border-box;
    }
    div.center {
        text-align: center;
    }
    div.column {
        float: left;
        width: 50%;
        padding: 5px;
    }
    /* Clearfix (clear floats) */
    div.row::after {
        content: "";
        clear: both;
        display: table;
    }
    body {
        font-size: 125%;
    }
</style>
{% endblock %}

{% block body %}

<h1 align="center">Image analyzer</h1>

{% load static %}

<div class="row">
    <div class="column">
        <img src="{% static "images/test02_resized_1000_750.jpg" %}" style="width:100%">
    </div>
    <div class="column">
        <img src="{% static "images/test02_analyzed_resized_1000_750.jpg" %}" style="width:100%">
    </div>
</div>
<div class="center">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Analyze the image</button>
    </form>
</div>
<p align="center">
    <a href="/last_analyzed_image/">Show last uploaded image results</a>
</p>
<p align="center">
    <a href="/cached_files_cleared/">Delete the cached images</a>
</p>
{% endblock  %}
