{% extends 'base.html' %}

{% block stylesheet %}
<style>
    div.img_box {
        display: grid;
        height: 80vh
    }
    img.center_fit {
        max-width: 80%;
        max-height: 100%;
        margin: auto
    }
    body {
        font-size: 125%;
    }
</style>
{% endblock %}

{% block title %}Image analyzed{% endblock %}

{% block body %}

{% if db_is_empty %}
    <h2 align="center">
        Cache is empty.
    </h1>
    <p align="center">
        <a href="/">Home page</a>
    </p>
{% else %}
    <h1 align="center">Result when compared to the database</h1>
    {% comment %} <img src="{{ analyzed_img_url }}" style="width:60%" class="center"/> {% endcomment %}
    <div class="img_box">
        <img src="{{ analyzed_img_url }}" class="center_fit"/>
    </div>
    <p align="center">
        <a href="/">Home page</a>
    </p>
    <!-- {% load static %}
    <img alt="test image" src="{% static "images/test02.jpg" %}"> -->
{% endif %}
{% endblock  %}